@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap");
/*! -------- RESET --------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; }

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden; }

section {
  width: 90%;
  margin: 0 auto;
  max-width: 1920px; }

header {
  background-color: #ffffff;
  margin: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 a {
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    color: #000000; }
  header nav {
    width: 70%; }
    header nav ul {
      list-style: none;
      display: flex;
      width: 100%; }
      header nav ul li {
        margin: 0px 10px;
        flex: 1 1 0px;
        text-align: center; }
        header nav ul li a {
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          text-decoration: none;
          color: #000000; }

/* INDEX */
.hero {
  width: 100%;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero h2 {
    font-size: 155px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    width: 85%;
    text-transform: uppercase; }
  .hero p {
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase; }

.rrss a {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: #616161;
  margin: 0px 40px; }

.bio div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.bio .bio-content-uno {
  font-size: 45px;
  font-weight: 200;
  font-style: normal;
  color: #000000;
  text-align: left;
  width: 75%; }

.bio .bio-content-dos {
  font-size: 45px;
  font-weight: 200;
  font-style: normal;
  color: #000000;
  text-align: left;
  width: 75%;
  margin-top: 40px; }

.bio a {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  background-color: #9F9F9F;
  text-decoration: none;
  color: #000000;
  padding: 20px 40px 20px 40px;
  border-radius: 50px;
  margin-top: 100px; }

.proyectos {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .proyectos h2 {
    font-size: 128px;
    font-weight: 800;
    font-style: normal;
    color: #000000;
    text-transform: uppercase; }
  .proyectos p {
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    color: #000000; }

.grid-galeria {
  margin: 40px;
  width: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 55px;
  max-width: 1920px;
  margin: 150px auto; }
  .grid-galeria .grid-item {
    position: relative; }
    .grid-galeria .grid-item img {
      width: 100%;
      height: 100%;
      border-radius: 30px; }
    .grid-galeria .grid-item h3 a {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      background-color: #9F9F9F;
      text-decoration: none;
      color: #000000;
      padding: 20px 20px 20px 20px;
      border-radius: 50px;
      position: absolute;
      left: 30px;
      bottom: 30px; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(calc(-250px * 4)); }
  100% {
    transform: translateX(0); } }

.slider {
  background: #D9D9D9;
  height: 150px;
  overflow: hidden;
  position: relative;
  top: 100px;
  padding: 25px 0; }
  .slider :before, .slider :after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider :after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider :before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(150px * 14);
    position: absolute;
    top: 25px; }
  .slider .slide {
    height: 100px;
    width: 1440px; }
    .slider .slide img {
      height: 100px;
      width: 630px; }

.contacto-mail {
  margin-top: 400px;
  margin-bottom: 218px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacto-mail p {
    font-size: 55px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #000000; }
  .contacto-mail h2 {
    font-size: 130px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #000000; }

.btn-arriba a img {
  width: 70px;
  position: fixed;
  bottom: 50px;
  right: 50px; }

/* PROYECTOS */
.hero-proyectos {
  width: 70%;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero-proyectos h2 {
    font-size: 145px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase; }
  .hero-proyectos h3 {
    font-size: 145px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase; }
  .hero-proyectos h4 {
    font-size: 145px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase; }

.grid-galeria-proyectos {
  width: 85%;
  height: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 55px;
  max-width: 1920px;
  margin: 200px auto; }
  .grid-galeria-proyectos .grid-item {
    position: relative; }
    .grid-galeria-proyectos .grid-item img {
      width: 100%;
      height: 100%;
      border-radius: 30px; }
    .grid-galeria-proyectos .grid-item h3 a {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      background-color: #9F9F9F;
      text-decoration: none;
      color: #000000;
      padding: 20px 20px 20px 20px;
      border-radius: 50px;
      position: absolute;
      left: 30px;
      bottom: 30px; }

/* PROYECTO_UNO */
.hero-proyecto-uno {
  width: 100%;
  height: calc(100vh - 123px);
  margin: 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end; }
  .hero-proyecto-uno h2 {
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    text-transform: uppercase; }
  .hero-proyecto-uno p {
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-top: 15px; }
  .hero-proyecto-uno img {
    margin-bottom: 20px; }

.banner-principal {
  margin-top: 150px; }

.descripcion-proyecto {
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: end;
  margin-right: 100px; }
  .descripcion-proyecto .proyecto-info {
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-top: 150px;
    margin-right: 100px;
    width: 40%; }

.flecha-top {
  margin-top: 50px; }

.cliente {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 20px 0px; }
  .cliente .marca {
    margin-left: 200px; }

.fecha {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  margin: 20px 0px; }
  .fecha .año {
    margin-left: 230px; }

.herramientas {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  margin: 20px 0px; }
  .herramientas .programas {
    margin-left: 140px; }

/* BIO */
.hero-bio {
  width: 100%;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero-bio img {
    margin: 20px; }
  .hero-bio h2 {
    font-size: 60px;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    width: 80%; }

.grid-cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 70px;
  margin-top: 150px;
  margin-bottom: 200px; }
  .grid-cv .formacion-card {
    background-color: #D5D5D5;
    padding: 50px 40px;
    border-radius: 30px; }
    .grid-cv .formacion-card .formacion-uno h2 {
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      color: #000000;
      margin-left: 30px;
      margin-top: 6px; }
    .grid-cv .formacion-card .formacion-uno p {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000;
      margin-left: 30px; }
    .grid-cv .formacion-card .formacion-dos p {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000;
      margin-left: 30px; }
    .grid-cv .formacion-card .temporalidad {
      margin-top: 45px; }
  .grid-cv .experiencia-card {
    background-color: #D5D5D5;
    padding: 30px 40px;
    border-radius: 30px;
    grid-row: span 2; }
    .grid-cv .experiencia-card .experiencia-trainee h3 {
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      color: #000000;
      margin-left: 30px;
      margin-top: 25px; }
    .grid-cv .experiencia-card .experiencia-trainee p {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000;
      margin-left: 30px;
      width: 88%; }
    .grid-cv .experiencia-card .experiencia-toilettes p {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000;
      margin-left: 30px;
      width: 88%; }
    .grid-cv .experiencia-card .experiencia-sub p {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000;
      margin-left: 30px;
      width: 88%; }
  .grid-cv .habilidades {
    background-color: #D5D5D5;
    padding: 50px 40px;
    border-radius: 30px; }
    .grid-cv .habilidades h4 {
      font-size: 30px;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      color: #000000;
      margin-left: 30px;
      margin-top: 6px; }
    .grid-cv .habilidades ul il {
      font-size: 25px;
      font-weight: 200;
      font-style: normal;
      color: #000000; }
      .grid-cv .habilidades ul il p {
        margin-left: 30px;
        margin-top: 20px; }
  .grid-cv .puesto {
    margin-top: 45px; }

.slider-bio {
  background: #D9D9D9;
  height: 150px;
  overflow: hidden;
  position: relative;
  top: 200px;
  padding: 25px 0; }
  .slider-bio :before, .slider-bio :after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .slider-bio :after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider-bio :before {
    left: 0;
    top: 0; }
  .slider-bio .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(150px * 14);
    position: absolute;
    top: 25px; }
  .slider-bio .slide {
    height: 100px;
    width: 1440px; }
    .slider-bio .slide img {
      height: 100px;
      width: 630px; }

.grid-galeria-bio {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 55px;
  margin: 400px 200px; }
  .grid-galeria-bio .grid-item {
    position: relative; }
    .grid-galeria-bio .grid-item img {
      border-radius: 30px; }
    .grid-galeria-bio .grid-item h3 a {
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      background-color: #9F9F9F;
      text-decoration: none;
      color: #000000;
      padding: 20px 20px 20px 20px;
      border-radius: 50px;
      position: absolute;
      left: 30px;
      bottom: 30px; }

/* CONTACTO */
.hero-contacto {
  width: 100%;
  height: calc(100vh - 123px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hero-contacto h2 {
    font-size: 130px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    width: 85%;
    text-transform: uppercase; }
  .hero-contacto p {
    font-size: 100px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase; }

.intro-formulario h2 {
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  margin-top: 200px;
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: center; }

footer {
  margin: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer div a {
    width: 66px;
    height: 36px;
    color: #000000; }
  footer p {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #000000; }

@media screen and (max-width: 1920px) {
  /*DESKTOP*/
  /*header*/
  header nav {
    width: 70%; }
  /*index*/
  .hero h2 {
    font-size: 10rem; }
  .hero p {
    font-size: 3rem;
    text-align: center; }
  .bio div {
    min-height: 100vh;
    height: auto; }
    .bio div .bio-content-uno {
      font-size: 3rem; }
    .bio div .bio-content-dos {
      font-size: 3rem; }
  .img-container img {
    width: 100%; }
  .proyectos {
    padding: 100px 0; }
    .proyectos h2 {
      font-size: 8rem; }
    .proyectos p {
      font-size: 1.7rem; }
  .grid-galeria {
    height: auto;
    margin: 150px auto; }
  /*bio*/
  .hero-bio h2 {
    font-size: 60px; }
  .grid-cv {
    margin-top: 300px;
    margin-bottom: 300px; }
    .grid-cv .formacion .card h2 {
      margin-left: 0;
      margin-top: 0; }
    .grid-cv .formacion .card p {
      margin-left: 0; }
  .slider-bio {
    margin: 100px 0;
    top: 0; }
  .grid-galeria-bio {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: auto;
    margin: 250px auto; }
    .grid-galeria-bio .grid-item {
      width: 100%; }
      .grid-galeria-bio .grid-item img {
        width: 100%; }
  /*PROYECTOS*/
  .hero-proyectos {
    width: 90%; }
    .hero-proyectos h2 {
      font-size: 10rem; }
  /*PROYECTO TEMPLATE*/
  .descripcion-proyecto {
    margin: 150px 0; }
    .descripcion-proyecto .proyecto-info {
      margin: 0;
      width: 516px; }
  /*contacto*/
  .intro-formulario h2 {
    font-size: 50px; }
  .formulario form {
    max-width: 660px;
    margin: 50px auto; }
    .formulario form textarea {
      resize: none; }
  /*footer*/
  .contacto-mail h2 {
    font-size: 8rem; } }

@media screen and (max-width: 768px) {
  /*TABLET*/
  /*header*/
  header {
    width: 90%;
    margin: 0 auto;
    flex-direction: column; }
    header nav {
      width: 100%; }
      header nav ul li {
        text-align: center; }
  /*index*/
  .hero h2 {
    font-size: 8rem; }
  .hero p {
    font-size: 1.5rem; }
  .rrss img {
    display: none; }
  .bio div .bio-content-uno {
    font-size: 2rem; }
  .bio div .bio-content-dos {
    font-size: 2rem; }
  .proyectos h2 {
    font-size: 6rem; }
  .proyectos p {
    font-size: 1.3rem; }
  .grid-galeria {
    grid-template-columns: 1fr;
    margin: 50px auto; }
  /*bio*/
  .hero-bio h2 {
    font-size: 30px; }
  .grid-cv {
    grid-template-columns: 1fr; }
    .grid-cv .formacion .formacion-uno h2 {
      margin-left: 0;
      margin-top: 0; }
  .grid-galeria-bio {
    grid-template-columns: 1fr; }
  /*PROYECTOS*/
  .hero-proyectos h2 {
    font-size: 4.5rem; }
  /*PROYECTO TEMPLATE*/
  .hero-proyecto-uno {
    grid-template-columns: 1fr 1fr; }
    .hero-proyecto-uno h2 {
      font-size: 3rem; }
    .hero-proyecto-uno p {
      font-size: 2rem; }
    .hero-proyecto-uno img {
      display: none; }
  .descripcion-proyecto .proyecto info {
    margin: 0 auto;
    width: 90%; }
  /*contacto*/
  .intro-formulario h2 {
    font-size: 30px; }
  .formulario form {
    max-width: 460px; }
  /*footer*/
  .contacto-mail h2 {
    font-size: 4.5rem; }
  .contacto-mail p {
    font-size: 2.75rem; } }

@media screen and (max-width: 360px) {
  /*MOBILE*/
  /*index*/
  .hero {
    height: calc(100vh - 225px); }
    .hero h2 {
      font-size: 4rem; }
    .hero p {
      font-size: 1.5rem;
      margin-left: 13px; }
  .rrss a {
    font-size: 18px;
    margin: 0px 0px 0px 20px; }
  .bio div {
    min-height: auto;
    padding: 50px 0; }
    .bio div .bio-content-uno {
      font-size: 1.5rem; }
    .bio div .bio-content-dos {
      font-size: 1.5rem; }
  .proyectos h2 {
    font-size: 3rem; }
  .proyectos p {
    font-size: 1.10rem; }
  .grid-galeria {
    margin-top: 60px;
    margin-bottom: 80px; }
  /*bio*/
  .hero-bio h2 {
    font-size: 24px; }
  /*PROYECTOS*/
  .hero-proyectos h2 {
    font-size: 3rem; }
  /*contacto*/
  .intro-formulario h2 {
    font-size: 20px; }
  .formulario form {
    max-width: 320px;
    margin: 0 auto; }
  /*footer*/
  .contacto-mail h2 {
    font-size: 2rem; }
  .contacto-mail p {
    font-size: 1.25rem; }
  footer {
    flex-direction: column; } }
