@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&display=swap');

/*! -------- RESET --------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif !important;
}

/*! -------- HEADER --------*/

header{
    background-color:#ffffff;
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

header h1 a{
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

/* -------- NAV --------*/
header nav{
    width: 70%;
}

header nav ul{
    list-style: none;
    display: flex;
    width: 100%;
}

header nav ul li{
    margin: 0px 10px;
    flex: 1 1 0px;
    text-align: center;
}

header nav ul li a{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

/*! -------- MAIN --------*/

/*? -------- INDEX --------*/

/* -------- HERO --------*/

.hero{
    width:100%;
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 155px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    width: 85%;
    text-transform: uppercase;
}

.hero p{
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.rrss a{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: #616161;
    margin: 0px 40px;
}


/* -------- BIO --------*/

.bio div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-content-uno{
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    text-align: left;
    width: 75%;
}

.bio-content-dos{
    font-size: 45px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    text-align: left;
    width: 75%;
    margin-top: 40px;
}

.bio a{
    font-size: 20px;
    font-weight: 600;
    font-style:normal;
    background-color: #9F9F9F;
    text-decoration: none;
    color: #000000;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    margin-top: 100px;
}

/* -------- PROYECTOS --------*/

.proyectos{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos h2{
    font-size: 128px;
    font-weight: 800;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
}

.proyectos p{
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    color: #000000;
}

/* -------- GRID GALERIA DE PROYECTOS --------*/

.grid-galeria{
    margin: 40px;
    width: 85%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 55px;
    max-width: 1920px;
    margin: 150px auto;
}

.grid-item img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.grid-item{
    position: relative;
}

.grid-item h3 a{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    background-color: #9F9F9F;
    text-decoration: none;
    color:#000000;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

/* -------- SLIDER AUTOMATICO --------*/

@keyframes scroll {
    0% {
        transform: translateX(0);
}
    50% {
        transform: translateX(calc(-250px * 4));
}
    100%{
        transform: translateX(0);
    }
}

.slider {
    background: #D9D9D9;
    height: 150px;
    overflow: hidden;
    position: relative;
    top: 100px;
    padding: 25px 0;
}

.slide img{
    height: 100px;
    width: 630px;
}
.slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(150px * 14);
    position: absolute;
    top: 25px;
}
.slider .slide {
    height: 100px;
    width: 1440px;
}

/* -------- CONTACTO --------*/

.contacto-home{
    margin-top: 400px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-home p{
    font-size: 55px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.contacto-home h2{
    font-size: 130px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.btn-arriba a img{
    width: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

@media screen and (max-width: 1649px) {
    .hero h2{
        font-size: 145px;
    }
    .hero p{
        font-size: 45px;
    }
}

@media screen and (max-width: 1544px) {
    .hero h2{
        font-size: 135px;
        width:100%;
    }
    .hero p{
        font-size: 40px;
    }
}

@media screen and (max-width: 1318px) {
    .rrss img{
        width: 50%;
        }
    .bio-content-uno{
        font-size: 35px;
    }
    .bio-content-dos{
        font-size: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .hero h2{
        font-size: 135px;
        width: 80%;
    }
    .hero p{
        font-size: 25px;
    }
    .contacto-home p{
        font-size: 45px;
    }
    .contacto-home h2{
        font-size: 110px;
    }
}

@media screen and (max-width: 1114px) {
    .rrss img{
        display: none;
        }
}

@media screen and (max-width: 963px) {
    .proyectos{
        padding: 30px;
    }
    .proyectos p{
        font-size: 23px;
        width: 100%;
    }
    .grid-galeria{
        width: 65%;
        height: 65%;
        grid-template-columns: 1fr;
    }
    .grid-item h3 a{
        font-size: 18px;
        padding: 15px 15px;
    }
    .contacto-home h2{
        font-size: 100px;
    }
}

@media screen and (max-width: 877px) {
    .bio-content-uno{
        font-size: 32px;
    }
    .bio-content-dos{
        font-size: 32px;
    }
    .proyectos h2{
        font-size: 110px;
    }
    .contacto-home p{
        font-size: 40px;
    }
    .contacto-home h2{
        font-size: 85px;
    }
}

@media screen and (max-width: 784px) {
    .hero h2{
        font-size: 125px;
    }
    .hero p{
        font-size: 25px;
    }
    .bio-content-uno{
        font-size: 29px;
        width: 81%;
    }
    .bio-content-dos{
        font-size: 29px;
        width: 81%;
    }
    .proyectos h2{
        font-size: 100px;
    }
    .proyectos p{
        font-size: 20px;
    }
    .contacto-home p{
        font-size: 37px;
    }
    .contacto-home h2{
        font-size: 70px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }
    .header ul{
        margin-top: 10px;
    }
    .hero h2{
        font-size: 100px;
    }
    .hero {
        height: 85vh;
    }
    .hero p{
        font-size: 20px;
    }
    .bio div{
        height: 110vh;
    }
    .proyectos h2{
        font-size: 90px;
    }
    .proyectos p{
        font-size: 18px;
    }
    .grid-galeria{
        margin: 120px auto;
    }
    .btn-arriba a img{
        width: 55px;
    }
    .btn-arriba a img{
        position: fixed;
        bottom: 50px;
        right: 30px;
    }
}

@media screen and (max-width: 597px){
    .hero h2{
        font-size: 94px;
    }
    .hero p{
        font-size: 17px;
    }
    .bio div{
        height: 100vh;
    }
    .bio-content-uno{
        font-size: 30px;
        width: 85%;
    }
    .bio-content-dos{
        font-size: 30px;
        width: 85%;
    }
    .proyectos h2{
        font-size: 80px;
    }
    .contacto-home{
        margin-top: 320px;
    }
    .contacto-home p{
        font-size: 30px;
    }
    .contacto-home h2{
        font-size: 55px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 534px) {
    .hero h2{
        font-size: 85px;
    }
    .hero p{
        font-size: 15px;
    }
    .rrss a{
        font-size: 20px;
    }
    .bio-content-uno{
        font-size: 27px;
        width: 75%;
    }
    .bio-content-dos{
        font-size: 27px;
        width: 75%;
    }
    .proyectos h2{
        font-size: 70px;
    }
    .proyectos p{
        font-size: 15px;
    }
    .grid-galeria{
        margin: 90px auto;
    }
    .footer div a img{
        width: 50px;
        height: 26px;
        }
    footer p{
        font-size: 15px;
        }
}

@media screen and (max-width: 500px) {
    .hero h2{
        font-size: 75px;
    }
    .rrss a{
        font-size: 18px;
        margin: 0px 20px 0px 40px;
    }
    .contacto-home p{
        font-size: 25px;
    }
    .contacto-home h2{
        font-size: 45px;
        margin-top: 5px;
    }
    .grid-item h3 a {
        left: 35px !important;
        bottom: 40px !important;
        padding: 10px 17px !important; }

    footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 468px) {
    .hero h2{
        font-size: 70px;
    }
    .hero p{
        font-size: 13px;
    }
    .bio-content-uno{
        font-size: 23px;
        width: 75%;
    }
    .bio-content-dos{
        font-size: 23px;
        width: 75%;
    }
    .proyectos h2{
        font-size: 53px;
    }
    .proyectos p{
        font-size: 13px;
    }
}

@media screen and (max-width: 360px) {
    .header nav{
        width: 100%;
    }
    .header nav ul li a{
        font-size: 17px;
    }
    .hero h2{
        font-size: 60px;
    }
    .hero p{
        font-size: 15px;
        text-align: center;
        width: 70%;
    }
    .rrss a{
        font-size: 19px;
        margin: 0px 0px 0px 30px;
    }
    .proyectos h2{
        font-size: 50px;
    }
    .proyectos p{
        font-size: 18px;
        width: 80%;
    }
    .grid-galeria{
        margin: 80px auto;
        width: 80%;
    }
    .grid-item h3 a {
        font-size: 10px;
        padding: 15px 15px 15 px 15px;
        left: 25px;
        bottom: 20px;
    }
    .contacto-home p{
        font-size: 20px;
    }
    .contacto-home h2{
        font-size: 35px;
        margin-top: 5px;
    }
}

/*? -------- PROYECTOS --------*/

/*! -------- MAIN --------*/

/* -------- HERO --------*/

.hero-proyectos{
    width: 70%;
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-proyectos h2{
    font-size:145px;
    font-weight:200;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase;
}

.hero-proyectos h3{
    font-size:145px;
    font-weight:200;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase;
}

.hero-proyectos h4{
    font-size:145px;
    font-weight:700;
    font-style: normal;
    text-align: left;
    width: 80%;
    text-transform: uppercase;
}

/* -------- GRID GALERIA DE PROYECTOS --------*/

.grid-galeria-proyectos{
    width: 85%;
    height:85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 55px;
    max-width: 1920px;
    margin: 200px auto;
}

.grid-item img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.grid-item{
    position: relative;
}

.grid-item h3 a{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    background-color: #9F9F9F;
    text-decoration: none;
    color:#000000;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.contacto{
    margin-top: 350px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto p{
    font-size: 55px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.contacto h2{
    font-size: 130px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #000000;
}

/* -------- @media screen and (max-width: 1313){
    .rrss img{

    }
}--------*/

@media screen and (max-width: 1129px) {
    .contacto h2{
        font-size: 110px;
    }
    .rrss img{
        width: 42%;
    }
}

@media screen and (max-width: 937px) {
    .hero-proyectos h2{
        font-size:115px;
    }
    .hero-proyectos h3{
        font-size:115px;
    }
    .hero-proyectos h4{
        font-size:115px;
    }
    .contacto p{
        font-size: 45px;
    }
    .contacto h2{
        font-size: 90px;
    }
}

@media screen and (max-width: 814px) {
    .grid-galeria-proyectos{
        grid-template-columns: 1fr;
    }
    .grid-item img {
        width: 95%;
        height: 95%;
    }
    .grid-item h3 a {
        left: 40px;
        bottom: 60px;
    }
    .contacto p{
        font-size: 40px;
    }
    .contacto h2{
        font-size: 80px;
    }
}

@media screen and (max-width: 714px) {
    header {
        flex-direction: column;
    }
    header nav{
        width: 100%;
    }
    header ul{
        margin-top: 10px;
    }
    .hero-proyectos h2{
        font-size:100px;
    }
    .hero-proyectos h3{
        font-size:100px;
    }
    .hero-proyectos h4{
        font-size:100px;
    }
    .contacto p{
        font-size: 35px;
    }
    .contacto h2{
        font-size: 70px;
    }
}

@media screen and (max-width: 597px) {
    .hero-proyectos h2{
        font-size: 85px;
    }
    .hero-proyectos h3{
        font-size: 85px;
    }
    .hero-proyectos h4{
        font-size: 85px;
    }
    .rrss a {
        font-size: 20px;
    }
    .contacto p{
        font-size: 30px;
    }
    .contacto h2{
        font-size: 60px;
    }
}

@media screen and (max-width: 534px) {
    .hero-proyectos h2{
        font-size: 75px;
    }
    .hero-proyectos h3{
        font-size: 75px;
    }
    .hero-proyectos h4{
        font-size: 75px;
    }
    .contacto p{
        font-size: 28px;
    }
    .contacto h2{
        font-size: 53px;
    }
}
@media screen and (max-width: 468px) {
    .hero-proyectos h2{
        font-size: 65px;
    }
    .hero-proyectos h3{
        font-size: 65px;
    }
    .hero-proyectos h4{
        font-size: 65px;
    }
    .contacto{
        margin-top: 200px;
        margin-bottom: 150px;
    }
    .contacto p{
        font-size: 23px;
    }
    .contacto h2{
        font-size: 45px;
    }
}

@media screen and (max-width: 441px) {
    .rrss a {
        font-size: 20px;
        margin: 0px 10px 0px 40px;
    }
    .contacto p{
        font-size: 20px;
    }
    .contacto h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 360px) {
    header nav{
        width: 100%;
    }
    header nav ul li a{
        font-size: 17px;
    }
    .rrss a{
        font-size: 19px;
        margin: 0px 0px 0px 30px;
    }
    .hero-proyectos h2{
        font-size: 55px;
    }
    .hero-proyectos h3{
        font-size: 55px;
    }
    .hero-proyectos h4{
        font-size: 55px;
    }
    .grid-galeria-proyectos{
        margin: 80px auto;
        width: 80%;
    }
    .grid-item h3 a {
        font-size: 17px;
        padding: 12px 12px 12px 12px;
        left: 25px;
        bottom: 30px;
    }
    .contacto h2{
        font-size: 35px;
        margin-top: 5px;
    }
}


/*? -------- PROYECTO_UNO --------*/

/*! -------- MAIN --------*/

/* -------- HERO --------*/

.hero-proyecto-uno{
    width: 100%;
    height: calc(100vh - 123px);
    margin: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.hero-proyecto-uno h2{
    font-size: 100px;
    font-weight: 200;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
}

.hero-proyecto-uno p{
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-top: 15px;
}

.hero-proyecto-uno img{
    margin-bottom: 20px;
}

.descripcion img{
    margin-top: 150px;
    width: 100%;
}

.proyecto-info{
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-top: 150px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flecha-top{
    margin-top: 50px;
}

.cliente{
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.marca{
    margin-left: 200px;
}

.fecha{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.año{
    margin-left: 230px;
}

.herramientas{
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.programas{
    margin-left: 140px;
}

.grid-galeria-proyecto-uno{
    width: 85%;
    height:85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 45px;
    max-width: 1920px;
    margin: 300px auto;
}

.contacto-proyecto-uno{
    margin-top: 400px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-proyecto-uno p{
    font-size: 55px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.contacto-proyecto-uno h2{
    font-size: 130px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #000000;
}


/*? -------- BIO --------*/

/*! -------- MAIN --------*/

/* -------- HERO --------*/

.hero-bio{
    width: 100%;
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-bio img{
    margin: 20px;
}

.hero-bio h2{
    font-size: 60px;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    width: 80%;
}

.grid-cv{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 70px;
    margin: 150px 40px 0px 40px;
    
}

.formacion{
    background-color: #D5D5D5;
    padding: 50px 40px;
    border-radius: 30px;
}
.formacion-uno h2{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    margin-left: 30px;
    margin-top: 6px;
}

.formacion-uno p{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    margin-left: 30px;
}

.formacion-dos p{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    margin-left: 30px;
}

.temporalidad{
    margin-top: 45px;
}

.experiencia{
    background-color: #D5D5D5;
    padding: 30px 40px;
    border-radius: 30px;
    grid-row: span 2;
}

.experiencia-trainee h3{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    margin-left: 30px;
    margin-top: 25px;
}

.experiencia-trainee p{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    margin-left: 30px;
    width: 88%;
}

.experiencia-toilettes p{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    margin-left: 30px;
    width: 88%;
}

.experiencia-sub p{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    margin-left: 30px;
    width: 88%;
}

.puesto{
    margin-top: 45px;
}

.habilidades{
    background-color: #D5D5D5;
    padding: 50px 40px;
    border-radius: 30px;
}

.habilidades h4{
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
    margin-left: 30px;
    margin-top: 6px;
}

.habilidades ul il{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    color: #000000;
}

.habilidades ul il p{
    margin-left: 30px;
    margin-top: 20px;
}

.slider-bio {
    background: #D9D9D9;
    height: 150px;
    overflow: hidden;
    position: relative;
    top: 200px;
    padding: 25px 0;
}

.slide img{
    height: 100px;
    width: 630px;
}
.slider-bio::before, .slider-bio::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider-bio::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider-bio::before {
    left: 0;
    top: 0;
}
.slider-bio .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(150px * 14);
    position: absolute;
    top: 25px;
}
.slider-bio .slide {
    height: 100px;
    width: 1440px;
}

/* -------- GRID GALERIA DE PROYECTOS --------*/

.grid-galeria-bio{
    width: 90%;
    height:90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 55px;
    margin: 400px auto;
}


.contacto-bio{
    margin-top: 400px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto-bio p{
    font-size: 55px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.contacto-bio h2{
    font-size: 130px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    color: #000000;
}

/*? --------@media screen and (max-width: 1419px) {
    .hero-bio h2 {
        font-size: 55px;
    }
} --------*/

/*? -------- CONTACTO --------*/

/*! -------- MAIN --------*/

/* -------- HERO --------*/

.hero-contacto{
    width: 100%;
    height: calc(100vh - 123px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-contacto h2{
    font-size: 100px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    width: 85%;
    text-transform: uppercase;
}

.formulario{
    width: 100%;
    margin: 0px 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.nombre-label{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    cursor: default;
    margin-top: 150px;
}

.form-control{
    width: 80% !important; 
    margin-top: 20px;
}

.correo-label{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    cursor: default;
    margin-top: 150px;
}

.mensaje-label{
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    cursor: default;
    margin-top: 50px;
}

input{
    font-size: 25px;
    font-weight: 200;
    font-style: normal;
    -webkit-rtl-ordering: logical;
    border: none;
}

.btn-enviar{
    font-size: 20px;
    font-weight: 600;
    font-style:normal;
    text-align: center;
    background-color: #9F9F9F;
    text-decoration: none;
    color: #000000;
    width: 10%;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    margin-top: 100px;
}

/*! -------- FOOTER --------*/

footer{
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div a img{
    width: 66px;
    height: 36px;
    color: #000000;
}

footer p{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}