header{
    background-color:#ffffff;
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        a{
            font-size: 20px;
            font-weight: 800;
            font-style: normal;
            text-decoration: none;
            color: #000000;
            }
    } 
    nav{
        width: 70%;
        ul{
            list-style: none;
            display: flex;
            width: 100%;
            li{
            margin: 0px 10px;
            flex: 1 1 0px;
            text-align: center;
                a{
                    font-size: 20px;
                    font-weight: 300;
                    font-style: normal;
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}